<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <!--使用了system.data.sqlite后，如果startup里不加后面的属性，会报错：Mixed mode assembly is built against version 'v2.0.50727' of the runtime and cannot be loaded in the 4.0 runtime without additional configuration information
  参考：http://blog.csdn.net/nikolay/archive/2011/01/05/6118025.aspx-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>

      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory,System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>
