<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Eva.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Eva.Library.Properties.Settings>
            <setting name="Eva_Library_AuthService_AuthService" serializeAs="String">
                <value>http://127.0.0.1/Easy2008.ServiceAuthentication/Service/AuthService.asmx</value>
            </setting>
            <setting name="Eva_Library_CodeService_CodeService" serializeAs="String">
                <value>http://127.0.0.1/Easy2008.ServiceCode/Service/CodeService.asmx</value>
            </setting>
            <setting name="Eva_Library_FileService_FileService" serializeAs="String">
                <value>http://127.0.0.1/Easy2008.ServiceFile/Service/FileService.asmx</value>
            </setting>
            <setting name="Eva_Library_MessageService_MessageService" serializeAs="String">
                <value>http://127.0.0.1/Easy2008.ServiceMessage/Service/MessageService.asmx</value>
            </setting>
            <setting name="Eva_Library_ReportService_ReportService" serializeAs="String">
                <value>http://127.0.0.1/Easy2008.ServiceReport/Service/ReportService.asmx</value>
            </setting>
            <setting name="Eva_Library_StateService_StateService" serializeAs="String">
                <value>http://127.0.0.1/Easy2008.ServiceState/Service/StateService.asmx</value>
            </setting>
            <setting name="Eva_Library_WorkFlowService_WorkFlowService" serializeAs="String">
                <value>http://127.0.0.1/Easy2008.ServiceWorkFlow/Service/WorkFlowService.asmx</value>
            </setting>
        </Eva.Library.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
